.contacts {
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 103px 0 0 0;
  }
  &__address {
    padding: 11px 0 0 0;
  }
  &__title {
    padding: 0 0 36px 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }
  &__text {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    & p {
      padding: 0 0 20px 0;
    }
  }
}
