* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.section {
  padding: 75px 0;
}
.dark-section,
header,
footer {
  background: #030303;
}
.video-section {
  padding: 95px 0 75px;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100% - 40px);
}
.section-title {
  font-family: "Forum", cursive;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  &:hover {
    color: #9d8665;
    transition: 200ms;
  }
}
.dark-section-title {
  color: #000000;
}
.underline-title {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #710707;
  }
}
