.visiting {
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 74px 60px;
    padding: 103px 0 0 0;
  }
}
.card {
  display: block;
  &:hover &__title::after {
    width: 440px;
    transition: 1s;
  }
  &__img {
    width: 440px;
    height: 285px;
  }
  &__title {
    position: relative;
    padding: 25px 0 23px 0;
    font-family: "Forum", cursive;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 10px;
      height: 2px;
      width: 300px;
      background: #710707;
    }
  }
  &__subtitle {
    padding: 0 0 10px 0;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }
  &__text {
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}
